<div id="note" ompa-note>
  <input type="text" ng-model="OmpaNote.newNote">
  <button ng-click="OmpaNote.add()">Create new note</button>
  <div class="notes">
    <div class="note" ng-repeat="note in OmpaNote.notes">
      <strong contenteditable ng-model="note.name"></strong>
      <button class="prev" ng-click="OmpaNote.prev(note)">&lt;</button>
      <button class="next" ng-click="OmpaNote.next(note)">&gt;</button>
      <button class="save" ng-click="OmpaNote.save(note)">Save</button>
      <button class="delete" ng-click="OmpaNote.delete(note)">Delete</button>
      <pre contenteditable ng-model="note.text"></pre>
    </div>
  </div>
</div>