<!DOCTYPE html>

<html ng-app ompa>
  <head>
    <meta charset="utf-8">
    <title>Ompa</title>
    <link rel="stylesheet" href="ompa.css">
  </head>
  <body>
    <header>
      <h1>Ole Martins Peronal Agnet</h1>
      <span ompa-auth>
        <input name="key" type="password" ng-model="OmpaAuth.key" ng-unless="OmpaAuth.loggedIn">
        <button ng-unless="OmpaAuth.loggedIn" ng-click="OmpaAuth.login()">Enter key</button>
        <button ng-if="OmpaAuth.loggedIn" ng-click="OmpaAuth.logout()">Remove key</button>
      </span>
    </header>
    <script type="application/dart" src="ompa.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
