html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #E3F6FF;
}

header.main{
  background-color: #000;
  color: #FFF;
  font-size: 1.5em;
  padding-left: 1em;
}

.ompa-auth{
  text-align: right;
}

button{
  height: 20px;
  background-color: #E88F0C;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover{
  background-color: #FF0000;
}

.success{
  position: relative;
  background-color: #4CAD73;
  font-size: 18px;
  line-height: 20px;
}

.success .center{
  overflow: auto;
}

.success .top{
  text-align:center;
}

.success .prev{
  position: absolute;
  top:0;
  left:0;
}

.success .next{
  position: absolute;
  top:0;
  right:0;
}

.notes{
  vertical-align: top;
}

.note{
  margin: 10px;
  background-color: #E4FF8B;
  display: inline-block;
  vertical-align: top;
}

